<!DOCTYPE html>
<html lang="en-US" class="html_stretched responsive av-preloader-disabled  html_header_top html_logo_center html_bottom_nav_header html_menu_right html_custom html_header_sticky html_header_shrinking_disabled html_mobile_menu_tablet html_header_searchicon_disabled html_content_align_center html_header_unstick_top_disabled html_header_stretch html_minimal_header html_av-submenu-hidden html_av-submenu-display-click html_av-overlay-side html_av-overlay-side-classic html_av-submenu-clone html_entry_id_1634 av-cookies-no-cookie-consent av-default-lightbox av-no-preview html_text_menu_active av-mobile-menu-switch-default">

<head>
    <meta charset="UTF-8" />


    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Scripts/CSS and wp_head hook -->
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <!-- This site is optimized with the Yoast SEO plugin v17.7 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Challenges - Anytime Creativity</title>
    <link rel="canonical" href="/challenges/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Challenges - Anytime Creativity" />
    <meta property="og:url" content="/challenges/" />
    <meta property="og:site_name" content="Anytime Creativity" />
    <meta property="article:modified_time" content="2021-11-29T17:17:36+00:00" />
    <meta property="og:image" content="/wp-content/uploads/2021/11/Connect-the-Dots-Logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="10 minutes" />
    <script type="application/ld+json" class="yoast-schema-graph">
        {
            "@context": "https://schema.org",
            "@graph": [{
                "@type": "WebSite",
                "@id": "/#website",
                "url": "/",
                "name": "Anytime Creativity",
                "description": "Anytime Creativity",
                "potentialAction": [{
                    "@type": "SearchAction",
                    "target": {
                        "@type": "EntryPoint",
                        "urlTemplate": "/?s={search_term_string}"
                    },
                    "query-input": "required name=search_term_string"
                }],
                "inLanguage": "en-US"
            }, {
                "@type": "ImageObject",
                "@id": "/challenges/#primaryimage",
                "inLanguage": "en-US",
                "url": "/wp-content/uploads/2021/11/Connect-the-Dots-Logo.png",
                "contentUrl": "/wp-content/uploads/2021/11/Connect-the-Dots-Logo.png",
                "width": 1350,
                "height": 500
            }, {
                "@type": "WebPage",
                "@id": "/challenges/#webpage",
                "url": "/challenges/",
                "name": "Challenges - Anytime Creativity",
                "isPartOf": {
                    "@id": "/#website"
                },
                "primaryImageOfPage": {
                    "@id": "/challenges/#primaryimage"
                },
                "datePublished": "2021-11-06T12:52:18+00:00",
                "dateModified": "2021-11-29T17:17:36+00:00",
                "breadcrumb": {
                    "@id": "/challenges/#breadcrumb"
                },
                "inLanguage": "en-US",
                "potentialAction": [{
                    "@type": "ReadAction",
                    "target": ["/challenges/"]
                }]
            }, {
                "@type": "BreadcrumbList",
                "@id": "/challenges/#breadcrumb",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Home",
                    "item": "/welcome/"
                }, {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Challenges"
                }]
            }]
        }
    </script>
    <!-- / Yoast SEO plugin. -->


    <link rel='dns-prefetch' href='//use.fontawesome.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Anytime Creativity &raquo; Feed" href="/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Anytime Creativity &raquo; Comments Feed" href="/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/www.anytimecreativity.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.2"
            }
        };
        ! function(e, a, t) {
            var n, r, o, i = a.createElement("canvas"),
                p = i.getContext && i.getContext("2d");

            function s(e, t) {
                var a = String.fromCharCode;
                p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
                e = i.toDataURL();
                return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
            }

            function c(e) {
                var t = a.createElement("script");
                t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
            }
            for (o = Array("flag", "emoji"), t.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, r = 0; r < o.length; r++) t.supports[o[r]] = function(e) {
                if (!p || !p.fillText) return !1;
                switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
                    case "flag":
                        return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
                    case "emoji":
                        return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613])
                }
                return !1
            }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
            t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function() {
                t.DOMReady = !0
            }, t.supports.everything || (n = function() {
                t.readyCallback()
            }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() {
                "complete" === a.readyState && t.readyCallback()
            })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>

    <!-- <script src="./assets/js/smoothScroll.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/index.css">
<link rel="stylesheet" type="text/css" href="/assets/css/crazyCombination.css">
<link rel="stylesheet" type="text/css" href="/assets/css/sprints.css">
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css"> -->


    <link rel='stylesheet' id='wp-block-library-css' href='/wp-includes/css/dist/block-library/style.min.css?ver=5.8.2' type='text/css' media='all' />
    <!-- <link rel='stylesheet' id='contact-form-7-css' href='/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.5.3' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='slick-style-css' href='/wp-content/plugins/logo-showcase-with-slick-slider/assets/css/slick.css?ver=1.2.6' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='lswss-public-css-css' href='/wp-content/plugins/logo-showcase-with-slick-slider/assets/css/lswss-public.css?ver=1.2.6' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='wpos-slick-style-css' href='/wp-content/plugins/wp-slick-slider-and-image-carousel/assets/css/slick.css?ver=3.0.4' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='wpsisac-public-style-css' href='/wp-content/plugins/wp-slick-slider-and-image-carousel/assets/css/slick-slider-style.css?ver=3.0.4' type='text/css' media='all' /> -->
    <link rel='stylesheet' id='font-awesome-official-css' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css' type='text/css' media='all' integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"
    />

    <link rel='stylesheet' id='avia-merged-styles-css' href='/wp-content/uploads/dynamic_avia/avia-merged-styles-a26d1519d0a6fa58f84f46821d7a6ac2---61a503622d0ab.css' type='text/css' media='all' />
    <!-- <link rel='stylesheet' id='avia-single-post-1634-css' href='/wp-content/uploads/avia_posts_css/post-1634.css?ver=ver-1638206258' type='text/css' media='all' /> -->
    <link rel='stylesheet' id='font-awesome-official-v4shim-css' href='https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css' type='text/css' media='all' integrity="sha384-Vq76wejb3QJM4nDatBa5rUOve+9gkegsjCebvV/9fvXlGWo4HCMR4cJZjjcF6Viv" crossorigin="anonymous"
    />
    <link rel='stylesheet' href="https://www.anytimecreativity.com/fonts/customFont.css" />
    <style id='font-awesome-official-v4shim-inline-css' type='text/css'>
        @font-face {
            font-family: "FontAwesome";
            font-display: block;
            src: url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.eot"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-brands-400.svg#fontawesome") format("svg");
        }
        
        @font-face {
            font-family: "FontAwesome";
            font-display: block;
            src: url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.eot"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-solid-900.svg#fontawesome") format("svg");
        }
        
        @font-face {
            font-family: "FontAwesome";
            font-display: block;
            src: url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.eot"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.15.4/webfonts/fa-regular-400.svg#fontawesome") format("svg");
            unicode-range: U+F004-F005, U+F007, U+F017, U+F022, U+F024, U+F02E, U+F03E, U+F044, U+F057-F059, U+F06E, U+F070, U+F075, U+F07B-F07C, U+F080, U+F086, U+F089, U+F094, U+F09D, U+F0A0, U+F0A4-F0A7, U+F0C5, U+F0C7-F0C8, U+F0E0, U+F0EB, U+F0F3, U+F0F8, U+F0FE, U+F111, U+F118-F11A, U+F11C, U+F133, U+F144, U+F146, U+F14A, U+F14D-F14E, U+F150-F152, U+F15B-F15C, U+F164-F165, U+F185-F186, U+F191-F192, U+F1AD, U+F1C1-F1C9, U+F1CD, U+F1D8, U+F1E3, U+F1EA, U+F1F6, U+F1F9, U+F20A, U+F247-F249, U+F24D, U+F254-F25B, U+F25D, U+F267, U+F271-F274, U+F279, U+F28B, U+F28D, U+F2B5-F2B6, U+F2B9, U+F2BB, U+F2BD, U+F2C1-F2C2, U+F2D0, U+F2D2, U+F2DC, U+F2ED, U+F328, U+F358-F35B, U+F3A5, U+F3D1, U+F410, U+F4AD;
        }
    </style>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <!-- <script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script> -->
    <link rel="https://api.w.org/" href="/wp-json/" />
    <link rel="alternate" type="application/json" href="/wp-json/wp/v2/pages/1634" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.8.2" />
    <link rel='shortlink' href='/?p=1634' />
    <link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.anytimecreativity.com%2Fchallenges%2F" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="alternate" type="application/rss+xml" title="Anytime Creativity RSS2 Feed" href="/feed/" />
    <link rel="pingback" href="/xmlrpc.php" />

    <style type='text/css' media='screen'>
        #top #header_main>.container,
        #top #header_main>.container .main_menu .av-main-nav>li>a,
        #top #header_main #menu-item-shop .cart_dropdown_link {
            height: 80px;
            line-height: 80px;
        }
        
        .html_top_nav_header .av-logo-container {
            height: 80px;
        }
        
        .html_header_top.html_header_sticky #top #wrap_all #main {
            padding-top: 130px;
        }
    </style>
    <!--[if lt IE 9]><script src="/wp-content/themes/enfold/js/html5shiv.js"></script><![endif]-->


    <!-- To speed up the rendering and to display the site as fast as possible to the user we include some styles and scripts for above the fold content inline -->
    <script type="text/javascript">
        'use strict';
        var avia_is_mobile = !1;
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) && 'ontouchstart' in document.documentElement) {
            avia_is_mobile = !0;
            document.documentElement.className += ' avia_mobile '
        } else {
            document.documentElement.className += ' avia_desktop '
        };
        document.documentElement.className += ' js_active ';
        (function() {
            var e = ['-webkit-', '-moz-', '-ms-', ''],
                n = '';
            for (var t in e) {
                if (e[t] + 'transform' in document.documentElement.style) {
                    document.documentElement.className += ' avia_transform ';
                    n = e[t] + 'transform'
                };
                if (e[t] + 'perspective' in document.documentElement.style) {
                    document.documentElement.className += ' avia_transform3d '
                }
            };
            if (typeof document.getElementsByClassName == 'function' && typeof document.documentElement.getBoundingClientRect == 'function' && avia_is_mobile == !1) {
                if (n && window.innerHeight > 0) {
                    setTimeout(function() {
                        var e = 0,
                            o = {},
                            a = 0,
                            t = document.getElementsByClassName('av-parallax'),
                            i = window.pageYOffset || document.documentElement.scrollTop;
                        for (e = 0; e < t.length; e++) {
                            t[e].style.top = '0px';
                            o = t[e].getBoundingClientRect();
                            a = Math.ceil((window.innerHeight + i - o.top) * 0.3);
                            t[e].style[n] = 'translate(0px, ' + a + 'px)';
                            t[e].style.top = 'auto';
                            t[e].className += ' enabled-parallax '
                        }
                    }, 50)
                }
            }
        })();
    </script>
    <style type="text/css" id="wp-custom-css">
        body {
            background: #fefd64;
        }
        
        #top #header_main_alternate {
            background-color: transparent;
            position: absolute;
            top: 14px;
            max-width: 370px;
            width: 100%;
            background: transparent;
            left: 0;
            text-align: left;
        }
        
        #top #header_main_alternate .container {
            padding: 0;
        }
        
        #top .top-banner.avia-section-huge .content {
            padding-bottom: 20px;
        }
        
        #top #header_main {
            max-width: 1310px;
            margin: auto;
            padding-left: 40px;
        }
        
        .html_header_top #top .av_header_stretch .container {
            max-width: 1400px;
            padding: 0 40px;
            width: 100%;
        }
        
        #top #header .av-main-nav>li>a,
        #top #header .av-main-nav>li>a:hover,
        #top #header .av-main-nav>li>a:focus {
            background-color: transparent;
            border-color: transparent;
            font-size: 15px;
            padding: 0 12px!important;
            font-size: 15px;
            font-weight: 400;
            margin-left: 4px;
            border-radius: 12px;
            color: #000;
        }
        
        #top #header .av-main-nav>li>a:hover,
        #top #header .av-main-nav>li>a:focus,
        #top #header .av-main-nav>li.current-menu-item>a:hover,
        #top #header .av-main-nav>li.current-menu-item>a:focus,
        #top #header .av-main-nav>li.current-menu-item>a {
            background-color: rgba(9, 9, 9, 0.1);
        }
        
        #header {
            position: relative;
        }
        
        .logo {
            padding-top: 7px;
        }
        
        .html_header_top.html_header_sticky #top #wrap_all #main {
            padding-top: 80px;
        }
        
        #top .social_bookmarks .avia-font-entypo-fontello,
        body .social_bookmarks .avia-font-entypo-fontello,
        html body .social_bookmarks [data-av_iconfont="entypo-fontello"]:before {
            color: #000;
            font-size: 24px;
        }
        
        #top .social_bookmarks li {
            margin-left: 8px;
        }
        
        #footer {
            font-size: 13px;
            background: #000;
            padding: 0;
        }
        
        .container {
            max-width: 1400px;
            padding: 0 40px;
            width: 100%;
        }
        
        #footer #text-3 {
            margin-left: -22px;
        }
        
        #footer a,
        #footer a:hover,
        #footer a:focus {
            text-decoration: none;
            font-size: 16px;
        }
        
        #footer a {
            color: #fff;
            opacity: 0.6;
            font-size: 16px;
        }
        
        #footer a:hover,
        #footer a:focus {
            opacity: 1;
        }
        
        body#top #wrap_all .footer_color .widgettitle {
            border-color: #fff;
            font-weight: bold;
        }
        
        #top #wrap_all .btn-block li:hover a,
        #top #wrap_all .social_bookmarks li:hover a {
            background-color: transparent!important;
        }
        
        #top .avia-section {
            background: #fefd64;
        }
        
        .top-banner .avia_textblock {
            max-width: 1150px;
            margin: auto;
        }
        
        #top .avia_textblock h1 {
            line-height: 54px;
            font-size: 48px;
            font-weight: 700!important;
            margin-bottom: 30px;
        }
        
        .top-banner .avia_textblock h1 {
            line-height: 50px;
            margin-bottom: 30px;
            font-size: 38px;
            font-weight: 700;
        }
        
        #top .top-banner .avia_textblock h1 {
            font-size: 60px;
            line-height: 68px;
            margin-bottom: 15px;
        }
        
        #top .top-banner .avia_textblock p {
            text-align: center;
            max-width: 560px;
            margin: auto;
            font-size: 22px;
            line-height: 140%;
            font-weight: 300;
            padding-top: 12px;
        }
        
        #top .two-ColLayout h2 {
            font-weight: 700!important;
            margin-bottom: 20px;
            line-height: 54px;
            font-size: 48px;
            line-height: 125%;
        }
        
        #top .two-ColLayout p {
            font-size: 22px;
            line-height: 140%;
            font-weight: 300;
        }
        
        #top .two-ColLayout .avia-image-container-inner {
            width: 100vw;
            margin-top: 0px;
        }
        
        #top .two-ColLayout .avia-image-container-inner img {
            object-fit: cover;
            width: 100%;
        }
        
        #top .togglecontainer .single_toggle {
            margin-bottom: 20px;
            border: 2px solid #000;
            border-radius: 30px;
        }
        
        #top .two-ColLayout .left-img2 {
            margin-top: 0;
        }
        
        #top .two-ColLayout .left-img1,
        #top .two-ColLayout .left-img4,
        #top .two-ColLayout .left-img3 {
            margin-top: 0;
        }
        
        #top .togglecontainer p.toggler {
            color: #000;
            background-color: #fff;
            border-color: #000;
            padding: 20px 60px 20px 35px;
            border: none;
            min-height: 84px;
            font-size: 24px;
            font-weight: 600;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        
        #top .togglecontainer .toggle_wrap .toggle_content {
            border-radius: 0 0 6px 6px;
            border-width: 3px;
            margin-top: -32px;
            margin-bottom: 0;
            border: none;
        }
        
        #top .togglecontainer p.toggler .toggle_icon {
            border: none;
            position: absolute;
            right: 32px;
            left: unset;
        }
        
        #top .toggle_icon .vert_icon {
            border-left-style: solid;
            border-left-width: 2px;
            position: absolute;
            left: 5px;
            top: -3px;
            height: 24px;
        }
        
        #top .activeTitle .toggle_icon {
            transform: rotate(45deg);
        }
        
        #top .toggle_icon .hor_icon {
            border-top-style: solid;
            border-top-width: 2px;
            position: absolute;
            top: 8px;
            left: -6px;
            width: 24px;
        }
        
        #top .btn-group {
            text-align: center;
            margin-bottom: 40px;
            /*padding-bottom: 40px;*/
        }
        
        #top .btn-group li {
            list-style-type: none;
            display: inline-block;
            margin: 0 8px;
        }
        
        #top .btn-group li a,
        #top .btn-group li a:hover,
        #top .btn-group li a:focus {
            display: inline-block;
            border: 2px solid #000;
            padding: 6px 14px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 16px;
            letter-spacing: 0.6px;
            border-radius: 16px;
            -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
            transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
            transition: transform 200ms ease, box-shadow 200ms ease;
            transition: transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
            cursor: pointer;
            background: #fff;
        }
        
        #top .btn-group li:hover a,
        #top .btn-group li:focus a {
            background: #fff;
        }
        
        #top .btn-group li a:hover,
        #top .btn-group li a:focus {
            box-shadow: 1px 1px 0 0 #0a0b1e;
            -webkit-transform: translate(-1px, -1px);
            -ms-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
        }
        
        #top #wrap_all .all_colors h1,
        #top #wrap_all .all_colors h2 {
            font-weight: 700;
            text-transform: unset;
        }
        
        .testimonial-block .bx-wrapper-et {
            border: none!important;
            box-shadow: none!important;
            background: none!important;
        }
        
        .testimonial-block .bx-wrapper-et .bx-viewport {
            background: none!important;
        }
        
        .testimonial-block .bx-wrapper-et blockquote {
            padding: 0 50px;
            font-size: 32px;
            line-height: normal;
            text-align: left;
            font-weight: bold;
        }
        
        .testimonial-block .setfloat {
            float: unset;
            width: 100%;
            display: inline-block;
            margin: auto;
            position: absolute;
            top: 120px;
        }
        
        #top .testimonial-block .setfloat img {
            border-radius: 0;
            height: 110px;
            width: auto;
        }
        
        #top .testimonial-block .quotes_content {
            font-size: 32px;
            line-height: 38px;
            text-align: left;
            font-weight: 700;
            margin-bottom: 100px;
        }
        
        #top .testimonial-block .author_name:before {
            content: '';
        }
        
        #top .testimonial-block .author_name,
        #top .testimonial-block .author_position {
            font-family: inherit;
            font-size: 18px;
            text-align: left;
            font-weight: 400;
        }
        
        #top .testimonial-block .bx-wrapper-et .bx-pager.bx-default-pager a {
            background: #fff;
            width: 14px;
            height: 14px;
            border-radius: 100%;
        }
        
        #top .testimonial-block .bx-wrapper-et .bx-pager.bx-default-pager a.active {
            background: #000;
        }
        
        #top .testimonial-block .wpsisac-slick-carousal-wrp {
            margin-bottom: 60px;
        }
        
        #top #lswss-logo-carousel-1 .lswss-slide img {
            max-height: 400px;
            cursor: pointer;
            /*background: #fffc63;*/
        }
        
        #top .wpsisac-slick-carousal.design-6 {
            margin-bottom: 70px;
        }
        
        #wpsisac-slick-carousal-1 .slick-track {
            padding-top: 30px;
        }
        
        #wpsisac-slick-carousal-1 .slick-center {
            margin-top: -30px;
        }
        
        .slick-center img {
            width: 100%;
            object-fit: cover;
            height: 360px;
        }
        
        html,
        #scroll-top-link,
        #av-cookie-consent-badge,
        html,
        #scroll-top-link:hover {
            background-color: #fefd64;
        }
        
        #scroll-top-link,
        #av-cookie-consent-badge {
            color: #ffffff;
            border: 1px solid #fff;
            border-radius: 100%;
        }
        
        #top #divSliderMain6182e4c69a0bc .bx-wrapper-et {
            max-width: 100%;
            height: 310px;
        }
        
        #top .card-layout.challnges-block {
            max-width: 900px;
            margin: auto;
            float: unset;
        }
        
        #top .card-layout .content {
            border-radius: 40px;
            margin-bottom: 70px;
            color: #fff;
            padding: 0 0 0!important;
        }
        
        #top .card-layout .content img {
            max-width: 600px;
            margin: auto;
            text-align: center;
            display: block;
            margin: 0 auto -5px;
            width: 100%;
        }
        
        #top .card-layout .content h2 {
            max-width: 930px;
            margin: auto;
            line-height: 40px;
            font-size: 36px;
            line-height: 46px;
            color: #fff;
            margin-bottom: 40px;
            text-align: center;
            font-weight: 300!important;
        }
        
        #top .card-layout .btn-group li a,
        #top .card-layout .btn-group li a:hover,
        #top .card-layout .btn-group li a:focus {
            border: none;
            color: #fff;
            padding: 4px 20px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.6);
            min-width: 130px;
        }
        
        #top .card-layout .btn-group ul {
            padding: 0;
            margin: 0 0 0 -10px;
        }
        
        #top .card-layout .btn-group li a:hover,
        #top .card-layout .btn-group li a:focus,
        #top #wrap_all .card-layout .btn-group li:hover a {
            background: rgba(0, 0, 0, 0.6)!important;
            box-shadow: 1px 1px 0 0 #fff;
            -webkit-transform: translate(-1px, -1px);
            -ms-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
        }
        
        #top #main .avia-section.card-layout .content {
            padding: 20px 40px;
            text-align: center;
            position: relative;
            z-index: 2;
        }
        
        #top #main .avia-section.card-layout.blue .content {
            background: #036886;
            border: 3px solid #0d3c66;
        }
        
        #top .card-layout .content:after {
            position: absolute;
            z-index: -1;
            content: '';
            visibility: visible;
            overflow: visible;
            display: block;
            width: 100%;
            left: -15px;
            top: -15px;
            height: 100%;
            border-radius: 40px;
        }
        
        #top .card-layout.blue .content:after {
            background: #0b91b6;
            border: 3px solid #0d3c66;
        }
        
        #top #main .avia-section.card-layout.green .content {
            background: #1f9300;
            border: 3px solid #1b5e00;
        }
        
        #top .card-layout.green .content:after {
            background: #5cc640;
            border: 3px solid #1b5e00;
        }
        
        #top #main .avia-section.card-layout.orange .content {
            background: #ae4f00;
            border: 3px solid #6e2e00;
        }
        
        #top .card-layout.orange .content:after {
            background: #f6821d;
            border: 3px solid #6e2e00;
        }
        
        #top #main .avia-section.card-layout.black .content {
            background: #3c3a3b;
            border: 3px solid #000002;
        }
        
        #top .card-layout.black .content:after {
            background: #545454;
            border: 3px solid #000002;
        }
        
        #top #main .avia-section.card-layout.purple .content {
            background: #8c06b2;
            border: 3px solid #570460;
        }
        
        #top .card-layout.purple .content:after {
            background: #be4cdf;
            border: 3px solid #570460;
        }
        
        #top #main .avia-section.card-layout.sky-blue .content {
            background: #0172b4;
            border: 3px solid #004d79;
        }
        
        #top .card-layout.sky-blue .content:after {
            background: #38b6ff;
            border: 3px solid #004d79;
        }
        
        #top .learn-moreBlock {
            padding: 0 20px;
            max-width: 1000px;
            text-align: center;
            margin: auto;
        }
        
        #top .card-layout .av_textblock_section {
            padding: 0 30px 0 15px;
        }
        /*#top #lswss-logo-carousel-1{
padding-bottom:70px;
}*/
        
        #top .two-ColLayout .left-img5 {
            margin-top: -90px;
        }
        
        #top .top-banner .demo {
            font-size: 60px;
            line-height: 68px;
            margin-bottom: -18px;
            text-transform: unset!important;
        }
        
        .Carousel-block .av_one_third {
            margin-left: 20px;
            width: calc((100% - 40px) / 3);
        }
        
        .Carousel-block .av_one_third.first,
        body .pricing-section .av_one_fourth.first {
            margin-left: 0;
        }
        
        .pricing-section strong {
            color: #000;
            font-weight: 700;
        }
        
        #top .two-colCardlayout .learn-moreBlock {
            padding: 0 20px 30px 0;
            width: 100%;
            font-size: 16px;
            color: #000;
        }
        
        body .two-colCardlayout.flex_column,
        body .pricing-section .flex_column {
            background: #c4c30d;
            border: 3px solid #8b8a00;
            border-radius: 30px;
            padding: 20px 40px;
            text-align: center;
            position: relative;
            z-index: 2;
        }
        
        body .two-colCardlayout.flex_column:after,
        body .pricing-section .flex_column:after {
            position: absolute;
            z-index: -1;
            content: '';
            visibility: visible;
            overflow: visible;
            display: block;
            width: 100%;
            left: -15px;
            top: -15px;
            background: #fffe36;
            height: 100%;
            border: 3px solid #8b8a00;
            border-bottom: 3px solid #8b8a00;
            border-radius: 30px;
        }
        
        body .twoCol-row .entry-content-wrapper {
            margin-left: 15px;
        }
        
        body .twoCol-row {
            position: relative;
        }
        
        body .twoCol-row p {
            text-align: center;
            color: #000;
            font-size: 26px;
            padding-left: 0;
            position: relative;
            line-height: 36px;
            max-width: 420px;
            margin: auto;
        }
        
        body .twoCol-row img {
            position: absolute;
            width: 100px;
        }
        
        body .twoCol-row .first-block img {
            top: -78px;
            left: -40px;
        }
        
        body .twoCol-row .second-block img {
            right: -12px;
            bottom: -24px;
        }
        
        body .twoCol-row .third-block img {
            right: -14px;
            top: -50px;
        }
        
        body .twoCol-row .fourth-block img {
            bottom: -26px;
            left: -40px;
        }
        
        body .twoCol-row .fifth-block img {
            top: -50px;
            left: 24px;
        }
        
        body .twoCol-row .sixth-block img {
            left: -34px;
            bottom: -14px;
        }
        
        #top .twoCol-row .btn-group {
            margin-top: 15px;
        }
        
        body .twoCol-row .count {
            background: #000;
            color: #fffd35;
            width: 50px;
            height: 50px;
            display: block;
            border-radius: 100%;
            line-height: 50px;
            font-size: 28px;
            font-weight: bold;
            margin-right: 10px;
            position: relative;
            text-align: center;
            margin: 0 auto 15px;
        }
        
        body .twoCol-row .learn-more,
        body .twoCol-row .learn-more:hover,
        body .twoCol-row .learn-more:focus {
            display: block;
            text-align: left;
            font-size: 16px;
            text-decoration: underline;
            color: #b9b410;
            margin-top: 15px;
        }
        
        body .twoCol-row .image-block {
            margin-left: -30px;
        }
        
        #top .pricing-section .top-heading img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        
        .pricing-section .top-heading {
            font-size: 20px;
        }
        
        .pricing-section .top-heading p {
            margin-left: 20px;
        }
        
        body .pricing-section .flex_column.av_one_half {
            margin-left: 40px;
            width: calc(38% - 40px);
            padding: 20px 20px 20px 0;
            margin-top: 0;
        }
        
        body .pricing-section .template-page {
            margin-top: -35px;
        }
        
        body .pricing-section .flex_column.av_one_half h2,
        body .pricing-section .flex_column.av_one_fourth h2 {
            margin-bottom: 30px;
        }
        
        #top .pricing-section .card-layout.av_one_half .av_textblock_section p,
        #top .pricing-section .card-layout.av_one_fourth.last .av_textblock_section p {
            margin: 0.4rem auto;
        }
        
        body .pricing-section .av_one_fourth {
            margin-left: 40px;
            width: calc(32% - 40px);
            padding: 20px 20px 20px 0;
        }
        
        body .pricing-section .av_one_fourth.avia-builder-el-last {
            padding: 20px 48px 20px 24px;
        }
        
        #top .pricing-section .card-layout .av_textblock_section {
            padding: 0;
            font-size: 14px;
            color: #000;
        }
        
        #top .pricing-section .card-layout .av_textblock_section p,
        #top .pricing-section .card-layout .av_textblock_section img {
            margin: 0 auto;
        }
        
        #top .pricing-section .card-layout .av_textblock_section img {
            width: 30px;
            border-radius: 100%;
        }
        
        #top .pricing-section .card-layout .av_textblock_section .top-heading img {
            margin-right: 10px;
        }
        
        #top .pricing-section .av_one_fourth.first {
            margin-left: 15px;
        }
        
        #top .pricing-section h3 {
            text-align: center;
            font-size: 30px;
            font-weight: 700!important;
            margin-top: 12px;
        }
        
        #top .pricing-section .card-layout .av_textblock_section p.empty-space {
            margin: 30px auto;
        }
        
        #top .pricing-section .btn-group {
            padding-top: 50px;
            color: #000;
        }
        
        #top .btn-group .filled-btn,
        #top .btn-group .filled-btn:hover,
        #top .btn-group .filled-btn:focus,
        #top .btn-group .filled-btn:active,
        #top #wrap_all .btn-group li:hover .filled-btn {
            color: #fff;
            background: #000!important;
            text-align: center;
        }
        
        #top #wrap_all .btn-group li:hover a,
        #top #wrap_all .btn-group li:focus a {
            background: #fff!important;
        }
        
        #top .right-menu,
        #top .right-menu:hover,
        #top .right-menu:focus {
            position: fixed!important;
            right: 250px;
            top: 15px;
            font-size: 19px;
        }
        
        #top .right-menu,
        #top .right-menu:hover,
        #top .right-menu:focus {
            background-color: transparent;
        }
        
        #top .right-menu a,
        #top .right-menu a:focus,
        #top .right-menu a:hover {
            text-decoration: none;
        }
        
        #top .right-menu a b,
        #top .right-menu a:focus b,
        #top .right-menu a:hover b {
            color: #000;
        }
        
        #top .askQuestion {
            background: #fff;
            max-width: 600px;
            margin: 60px auto;
            border: 3px solid #000;
            border-radius: 40px;
            padding: 30px 30px 0 30px;
            margin-top: 60px;
        }
        
        #top .custom-form br {
            display: none;
        }
        
        #top .custom-form label {
            font-size: 16px;
            font-weight: 700;
            color: #000;
            display: block;
        }
        
        #top .custom-form .wpcf7-form-control-wrap {
            display: inline-block;
            margin-left: 10px;
            width: 84%;
        }
        
        #top .custom-form .inner-label {
            display: inline-block;
            border-bottom: 2px dashed #000;
            padding-bottom: 0;
            height: 34px;
            font-size: 16px;
            font-weight: 700;
            vertical-align: top;
        }
        
        #top .custom-form .wpcf7-form-control,
        #top .custom-form .wpcf7-form-control:focus {
            display: inline-block;
            width: 100%;
            border: none!important;
            border-bottom: 1px solid #fff!important;
            background-color: #fff!important;
            color: #000!important;
            font-size: 16px;
            box-shadow: none;
        }
        
        #top .custom-form .wpcf7-form-control:focus {
            border-bottom: 1px solid #eee!important;
        }
        
        #top .custom-form textarea {
            resize: none;
            height: 120px;
            overflow-y: auto;
        }
        
        #top .custom-form .wpcf7-form-control.wpcf7-submit,
        #top .custom-form .wpcf7-form-control.wpcf7-submit:focus,
        #top .custom-form .wpcf7-form-control.wpcf7-submit:hover {
            background: transparent;
            font-size: 24px;
            color: #008037!important;
            text-transform: uppercase;
            font-weight: 700;
            margin: auto;
            display: block;
            letter-spacing: .7px;
            border: none!important;
            width: 150px;
            position: relative;
            padding: 0;
            left: 0;
            text-align: left;
            height: 52px;
            line-height: 54px;
        }
        
        #top .custom-form .submit-block {
            position: relative;
            width: 150px;
            margin: auto;
        }
        
        #top .custom-form .submit-block:after {
            content: '';
            background: url(/wp-content/uploads/2021/11/xthumbs-up.png.pagespeed.ic.drYK7yMBdL.webp) no-repeat center;
            width: 50px;
            height: 50px;
            top: -7px;
            right: 0;
            position: absolute;
            background-size: contain;
            z-index: 1;
        }
        
        #top .wpcf7-form {
            margin-bottom: 0;
        }
        
        .wpcf7-response-output {
            color: red;
            font-size: 14px;
            border-radius: 5px;
        }
        
        .avia_transform a:hover .image-overlay {
            opacity: 0 !important;
        }
        
        #top #after_section_2 {
            border: none;
        }
        
        @media only screen and (min-width:768px) {
            .togglecontainer {
                max-width: 900px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        @media only screen and (min-width:300px) and (max-width:767px) {
            #top .right-menu,
            #top .right-menu:hover,
            #top .right-menu:focus {
                position: relative!important;
                right: 0;
                top: 0;
                font-size: 19px;
                color: #fff;
            }
            #top .right-menu a b,
            #top .right-menu a:focus b,
            #top .right-menu a:hover b {
                color: #fff;
            }
            #top #avia-menu-0 .right-menu b {
                display: none;
            }
            #top .Carousel-block .flex_column {
                margin: 0 !important;
                margin-bottom: 20px !important;
            }
            #top .card-layout {
                max-width: 90%;
            }
            body .twoCol-row h1 {
                margin-bottom: 0!important;
            }
            .responsive #top #wrap_all .pricing-section .container {
                padding: 0 15px 0 28px;
            }
            #top .pricing-section .top-heading {
                margin: 0 auto;
            }
            body .twoCol-row .flex_column_table .column-top-margin,
            body .pricing-section .flex_column {
                margin-top: 40px!important;
            }
            body .twoCol-row .flex_column_table.av-equal-height-column-flextable:not(:first-child) {
                margin-top: 0!important;
            }
            #top #av-burger-menu-ul {
                vertical-align: top;
            }
            .header_color .av-hamburger-inner,
            .header_color .av-hamburger-inner::before,
            .header_color .av-hamburger-inner::after {
                background-color: #000;
            }
            .responsive #top #wrap_all .av-logo-container {
                padding: 0 15px;
            }
            .responsive #top #wrap_all .container {
                width: 100%;
                max-width: 100%;
                padding: 0 15px;
            }
            #top .avia_textblock h1,
            #top .top-banner .avia_textblock h1,
            #top .top-banner .demo {
                font-weight: 900!important;
                margin-bottom: 48px;
                font-size: 32px;
                line-height: 40px;
            }
            #top .top-banner .demo {
                font-size: 35px;
            }
            #top .top-banner .avia_textblock h1,
            #top .top-banner .avia_textblock h3 {
                margin-bottom: 0;
            }
            #top .avia-section-huge .content,
            #top .avia-section-huge .sidebar {
                padding-top: 80px;
                padding-bottom: 30px;
            }
            #top .btn-group li {
                list-style-type: none;
                display: inline-block;
                margin: 0 8px 12px;
            }
            .avia-section-large .content,
            .avia-section-large .sidebar {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            #top .two-ColLayout .avia-image-container-inner {
                width: 100vw;
                margin-top: -28px;
            }
            #top .two-ColLayout .entry-content-wrapper,
            .responsive #top .flex_column_table {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
            #top .two-ColLayout .entry-content-wrapper .left-img {
                order: 2;
            }
            #top .two-ColLayout h2 {
                line-height: 125%;
                font-size: 28px;
            }
            #footer .widget {
                margin: 0;
            }
            #footer #text-3 {
                margin-left: -12px;
            }
            #top .togglecontainer p.toggler,
            #top .togglecontainer {
                font-size: 16px;
            }
            #top .togglecontainer .toggle_wrap .toggle_content {
                margin-top: -20px;
            }
            #top .testimonial-block .quotes_content {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 30px;
            }
            .testimonial-block .bx-wrapper-et blockquote {
                padding: 0 20px;
            }
            #top .testimonial-block .author_name,
            #top .testimonial-block .author_position {
                font-size: 14px;
                line-height: 20px;
            }
            #text-3 img {
                width: 150px;
            }
            #top .two-ColLayout .left-img2 {
                margin-top: 0;
            }
            #top .learn-moreBlock {
                max-width: 100%;
                padding: 0;
            }
            #top .card-layout .content h2 {
                font-size: 28px;
                line-height: 125%;
            }
            #top .btn-group {
                margin-bottom: 0;
            }
            #top .card-layout .content {
                margin-bottom: 50px;
                color: #fff;
            }
            #top #header_main {
                padding-left: 0;
            }
            .responsive #top .logo {
                width: 150px;
                margin: auto;
            }
            #top .two-ColLayout .left-img1,
            #top .two-ColLayout .left-img4,
            #top .two-ColLayout .left-img3,
            #top .two-ColLayout .left-img5 {
                margin-top: 0;
            }
            #top .two-ColLayout p {
                font-size: 16px;
            }
            #top .testimonial-block .setfloat {
                position: relative;
                top: 0;
            }
            #top .twoCol-row .flex_column_table.av-equal-height-column-flextable:not(:first-child) {
                margin-top: 0;
            }
            #top .card-layout .btn-group li a,
            #top .card-layout .btn-group li a:hover,
            #top .card-layout .btn-group li a:focus {
                padding: 4px 15px;
                min-width: 110px;
            }
            #top .two-colCardlayout.flex_column {
                padding: 20px 40px 20px 15px;
            }
            #top .pricing-section .card-layout.flex_column {
                margin: 0 auto 48px!important;
            }
            #top .card-layout.challnges-block {
                padding: 0 8px 0 14px;
            }
            #top .pricing-section .card-layout {
                max-width: 100%;
                margin: auto;
            }
            #top .twoCol-row .flex_column_table .column-top-margin,
            #top .twoCol-row .flex_column_table .flex_column {
                margin-top: 0!important;
                margin-bottom: 48px!important;
            }
            #top #av_section_4 h1 {
                margin-bottom: 0;
            }
        }
        
        @media only screen and (max-width:482px) {
            #top .btn-group {
                margin: 0;
            }
            #top .avia_textblock h1,
            #top .top-banner .avia_textblock h1,
            #top .top-banner .demo {
                font-weight: 900!important;
                margin-bottom: 0;
                font-size: 23px;
                line-height: 32px;
            }
            #top .top-banner .demo {
                font-size: 25px;
            }
            #top .top-banner .avia_textblock p {
                text-align: center;
                max-width: 560px;
                margin: auto;
                font-size: 18px;
                margin-top: 12px;
            }
        }
        
        @media only screen and (max-width:560px) {
            #top .btn-group li {
                margin: 0 0 12px;
                width: 100%;
            }
            #top .btn-group ul {
                margin: 0;
            }
            #top .btn-group li a,
            #top .btn-group li a:hover,
            #top .btn-group li a:focus {
                width: 100%;
            }
        }
    </style>
    <style type='text/css'>
        @font-face {
            font-family: 'entypo-fontello';
            font-weight: normal;
            font-style: normal;
            font-display: auto;
            src: url('/fonts/entypo-fontello.woff2') format('woff2'), url('/fonts/entypo-fontello.woff') format('woff'), url('/fonts/entypo-fontello.ttf') format('truetype'), url('/fonts/entypo-fontello.svg#entypo-fontello') format('svg'), url('/fonts/entypo-fontello.eot'), url('/fonts/entypo-fontello.eot?#iefix') format('embedded-opentype');
        }
        
        #top .avia-font-entypo-fontello,
        body .avia-font-entypo-fontello,
        html body [data-av_iconfont='entypo-fontello']:before {
            font-family: 'entypo-fontello';
        }
        
        @font-face {
            font-family: 'medical';
            font-weight: normal;
            font-style: normal;
            font-display: auto;
            src: url('/wp-content/uploads/avia_fonts/medical/medical.woff2') format('woff2'), url('/wp-content/uploads/avia_fonts/medical/medical.woff') format('woff'), url('/wp-content/uploads/avia_fonts/medical/medical.ttf') format('truetype'), url('/wp-content/uploads/avia_fonts/medical/medical.svg#medical') format('svg'), url('/wp-content/uploads/avia_fonts/medical/medical.eot'), url('/wp-content/uploads/avia_fonts/medical/medical.eot?#iefix') format('embedded-opentype');
        }
        
        #top .avia-font-medical,
        body .avia-font-medical,
        html body [data-av_iconfont='medical']:before {
            font-family: 'medical';
        }
        
        .pre-loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('/wp-content/uploads/2021/11/pre-loader.gif') 50% 50% no-repeat rgb(255, 252, 99);
        }
    </style>

    <!--
Debugging Info for Theme support: 

Theme: Enfold
Version: 4.8.6.5
Installed: enfold
AviaFramework Version: 5.0
AviaBuilder Version: 4.8
aviaElementManager Version: 1.0.1
ML:128-PU:25-PLA:9
WP:5.8.2
Compress: CSS:all theme files - JS:all theme files
Updates: disabled
PLAu:9
-->
</head>

<body id="top" class="page-template-default page page-id-1634 stretched no_sidebar_border rtl_columns av-curtain-numeric gt-eesti-display-custom gt-eesti-display gt-eesti-custom gt-eesti  avia-responsive-images-support" itemscope="itemscope" itemtype="https://schema.org/WebPage">

    <div class="pre-loader"></div>
    <div id='wrap_all'>


        <header id='header' class='all_colors header_color light_bg_color  av_header_top av_logo_center av_bottom_nav_header av_menu_right av_custom av_header_sticky av_header_shrinking_disabled av_header_stretch av_mobile_menu_tablet av_header_searchicon_disabled av_header_unstick_top_disabled av_seperator_big_border av_minimal_header'
            role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader">

            <div id='header_main' class='container_wrap container_wrap_logo'>

                <div class='container av-logo-container'>
                    <div class='inner-container'><span class='logo avia-standard-logo'><a href='/' class=''><img src="/wp-content/uploads/2021/11/AnytimeLogo.png" srcset="/wp-content/uploads/2021/11/AnytimeLogo.png 366w, /wp-content/uploads/2021/11/AnytimeLogo-300x123.png 300w" sizes="(max-width: 366px) 100vw, 366px" height="100" width="300" alt='Anytime Creativity' title='AnytimeLogo' /></a></span>
                        <ul class='noLightbox social_bookmarks icon_count_5'>
                            <li class='social_bookmarks_linkedin av-social-link-linkedin social_icon_1'><a aria-label="Link to LinkedIn" href='http://linkedin.com/in/fergalbrophy' aria-hidden='false' data-av_icon='' data-av_iconfont='entypo-fontello' title='LinkedIn'><span class='avia_hidden_link_text'>LinkedIn</span></a></li>
                            <!--li class='social_bookmarks_instagram av-social-link-instagram social_icon_2'><a aria-label="Link to Instagram" href='#' aria-hidden='false' data-av_icon='' data-av_iconfont='entypo-fontello' title='Instagram'><span class='avia_hidden_link_text'>Instagram</span></a></li>
                <li class='social_bookmarks_facebook av-social-link-facebook social_icon_3'><a aria-label="Link to Facebook" href='#' aria-hidden='false' data-av_icon='' data-av_iconfont='entypo-fontello' title='Facebook'><span class='avia_hidden_link_text'>Facebook</span></a></li>
                <li class='social_bookmarks_twitter av-social-link-twitter social_icon_4'><a target="_blank" aria-label="Link to Twitter" href='https://twitter.com/#/' aria-hidden='false' data-av_icon='' data-av_iconfont='entypo-fontello' title='Twitter' rel="noopener"><span class='avia_hidden_link_text'>Twitter</span></a></li-->
                            <li class='social_bookmarks_youtube av-social-link-youtube social_icon_5'><a aria-label="Link to Youtube" href='https://youtube.com/channel/UC1wqTph0xxVtpY6LNFTmTxA' aria-hidden='false' data-av_icon='' data-av_iconfont='entypo-fontello' title='Youtube'><span class='avia_hidden_link_text'>Youtube</span></a></li>
                        </ul>
                    </div>
                </div>
                <div id='header_main_alternate' class='container_wrap'>
                    <div class='container'>
                        <nav class='main_menu' data-selectname='Select a page' role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                            <div class="avia-menu av-main-nav-wrap">
                                <ul id="avia-menu" class="menu av-main-nav">
                                    <li id="menu-item-1739" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1634 current_page_item menu-item-top-level menu-item-top-level-1"><a href="/challenges/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Challenges</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-1947" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-2"><a href="/how-it-works/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">How it Works</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-1946" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-3"><a href="/pricing/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Pricing</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li class="right-menu" id="menu-item-1948" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-3"><a href="/book-a-demo/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text"><b>Book a Demo</b></span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li class="av-burger-menu-main menu-item-avia-special av-small-burger-icon">
                                        <a href="#" aria-label="Menu" aria-hidden="false">
                                            <span class="av-hamburger av-hamburger--spin av-js-hamburger">
						<span class="av-hamburger-box">
				          <span class="av-hamburger-inner"></span>
                                            <strong>Menu</strong>
                                            </span>
                                            </span>
                                            <span class="avia_hidden_link_text">Menu</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- end container_wrap-->
            </div>
            <div class='header_bg'></div>

            <!-- end header -->
        </header>

        <div id='main' class='all_colors' data-scroll-offset='78'>

            <!-- <div id='av_section_1' class='avia-section av-kvnxt799-78dbc3bd39af18d9a7ac17c11741a733 main_color avia-section-huge avia-no-border-styling  avia-builder-el-0  el_before_av_section  avia-builder-el-first  top-banner avia-bg-style-scroll  container_wrap fullsize'>
        <div class='container av-section-cont-open'>
        </div>
    </div> -->

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/assets/css/connectTheDots.css">

            <style>
                .form-control {
                    background-color: transparent !important;
                    border: transparent !important;
                    outline: 0 !important;
                    border-color: transparent !important;
                    border-bottom: 3px solid #f4f4f4 !important;
                    border-width: 0 0 2px !important;
                    color: #fff !important;
                    border-radius: 0.25rem !important;
                }
                
                .row {
                    margin-bottom: 0px;
                }
                
                .nav-row {
                    margin-bottom: 1rem !important;
                }
            </style>

            <div class="container-fluid main-container" style="background: #0292B7;">
                <div class="row nav-row">
                    <div class="col-sm-12 col-md-12 col-lg-2 logo-div">
                        <img src="/assets/images/connectTheDots/logo.png" class="nav-img" />
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-9 text-left inst-para-outer">
                        <p class="inst-para">
                            Find a problem or frustration in your business related to one of the business activities. Then combine that activity with the tech to create a new product, service or way of working. Drag & Drop to select your Connect the Dots idea. Give it a clever name,
                            describe & submit it.
                        </p>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-1 text-center p-2">
                        <div class="headerModalDiv mx-auto">
                            <p class="inst-para" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">
                                Click for <br> example <i class="fa fa-thumbs-up"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row bg-img">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg col-xl mb-3">
                        <div class="list">
                            <ul id="group1" class="row">

                                <!-- <li class="col col-3 col-sm col-xs p-1" value="assets/images/connectTheDots/icons/product1.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/product1.png" style="max-width: 40px;">
                                        <p class="image-text">Products</p>
                                    </div>
                                </li> -->

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Hybrid Working" value="assets/images/connectTheDots/icons/hybrid-working.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/hybrid-working.png" style="max-width: 40px;">
                                        <p class="image-text">Hybrid Working</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Procurement" value="assets/images/connectTheDots/icons/procurement.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/procurement.png" style="max-width: 40px;">
                                        <p class="image-text">Procurement</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Operations" value="assets/images/connectTheDots/icons/operation1.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/operation1.png" style="max-width: 40px;">
                                        <p class="image-text">Operations</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Marketing" value="assets/images/connectTheDots/icons/marketing.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/marketing.png" style="max-width: 40px;">
                                        <p class="image-text">Marketing</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Finance" value="assets/images/connectTheDots/icons/finance.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/finance.png" style="max-width: 40px;">
                                        <p class="image-text">Finance</p>
                                    </div>
                                </li>

                                <!-- <li class="col col-3 col-sm col-xs p-1" value="assets/images/connectTheDots/icons/hr.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/hr.png" style="max-width: 40px;">
                                        <p class="image-text">HR</p>
                                    </div>
                                </li> -->

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Recruitment" value="assets/images/connectTheDots/icons/hr.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/recruitment.png" style="max-width: 40px;">
                                        <p class="image-text">Recruitment</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Services" value="assets/images/connectTheDots/icons/services.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/services.png" style="max-width: 40px;">
                                        <p class="image-text">Services</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Partnerships" value="assets/images/connectTheDots/icons/partnership.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/partnership.png" style="max-width: 40px;">
                                        <p class="image-text">Partnerships</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Client Pitch" value="assets/images/connectTheDots/icons/sales.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/sales.png" style="max-width: 40px;">
                                        <p class="image-text">Client Pitch</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="IT" value="assets/images/connectTheDots/icons/it.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/it.png" style="max-width: 40px;">
                                        <p class="image-text">IT</p>
                                    </div>
                                </li>

                                <!--
            <li class="col col-3 col-sm col-xs p-1" value="assets/images/connectTheDots/icons/brand1.png">
                <div class="image-div">
                    <img src="/assets/images/connectTheDots/icons/brand1.png" style="max-width: 40px;">
                    <p class="image-text">Brands</p>
                </div>
            </li>
            -->

                            </ul>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg col-xl">
                        <div class="arrowDiv">
                            <div class="firstArrow">&nbsp;</div>
                            <p class="arrowText text-center text-white">Drag & Drop</p>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg col-xl mb-3">
                        <div class="circleDiv">
                            <div class="circle">
                                <ul id="group2" class="">
                                    <li class="col col-3 col-sm col-xs p-1">
                                        <div class="image-div" style="height: 57px;"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 bg-img1 mb-3">
                        <div class="formDiv">
                            <div class="text-center formDivInner challenge-form">

                                <div class="form-group row text-left">
                                    <label for="userName" class="col-sm-4 custom-label">Team Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" maxlength="20" id="userName" name="userName" placeholder="Enter your team name" required>
                                    </div>
                                </div>

                                <div class="form-group row text-left">
                                    <label for="playerName" class="col-sm-4 custom-label ">Player's Name</label>
                                    <div class="col-sm-8">
                                        <span class="text-white pull-right add-more" style="font-size: 1rem; cursor: pointer; position: absolute; right: 17px;" data-toggle="tooltip" data-placement="top" title="Add More Idea">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                                        <input type="text" class="form-control teamPlayerName" id="playerName" maxlength="100" placeholder="Click + to enter each player">
                                    </div>
                                </div>

                                <div id="ideaDiv"></div>

                                <!-- <div class="form-group text-left">
                <label for="userName" class="custom-label">Team/Individual Name:</label>
                <input type="text" class="form-control" maxlength="30" id="userName" name="userName" placeholder="Enter your team/individual name" required>
            </div> -->

                                <div class="form-group text-left">
                                    <label for="ideaName" class="custom-label">Idea Name:</label>
                                    <input type="text" class="form-control " maxlength="30" id="ideaName" name="ideaName" placeholder="Enter a clever idea name" required>
                                </div>

                                <div class="form-group text-left">
                                    <label for="idea" class="custom-label">Idea Description:</label>
                                    <textarea class="form-control" rows="3" name="idea" maxlength="150" id="idea" placeholder="Enter idea description" required></textarea>
                                </div>

                                <div class="row justify-content-center">
                                    <input type="submit" class="btn btn-warning btn-block col-6 " id="submitBtn" value="Submit">
                                </div>

                                <div class="row text-center" id="successMessage" style="display: none;">
                                    <div class="col-xs-12" style="margin: 0 auto;">
                                        <p class="alert alert-success">
                                            <strong>Congrats. Your idea has been successfully submitted</strong>
                                        </p>
                                    </div>
                                </div>

                                <div class="row text-center" id="failedMessage" style="display: none;">
                                    <div class="col-xs-12" style="margin: 0 auto;">
                                        <p class="alert alert-danger">
                                            <strong>Error while submitting... try again later</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg col-xl">
                        <div class="circleDiv">
                            <div class="circle">
                                <ul id="group3" class="">
                                    <li class="col col-3 col-sm col-xs p-1">
                                        <div class="image-div" style="height: 57px;"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg col-xl">
                        <div class="arrowDiv">
                            <p class="arrowText arrowText1 text-center text-white ">Drag & Drop</p>
                            <!-- d-lg-none d-xl-none -->
                            <div class="secondArrow">&nbsp;</div>
                            <p class="arrowText arrowText2 text-center text-white ">Drag & Drop</p>
                            <!-- d-xs-none d-sm-none d-lg-block d-xl-block -->
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg col-xl mb-3">
                        <div class="list">
                            <ul id="group4" class="row">

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Drones" value="assets/images/connectTheDots/icons/drone.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/drone.png" style="max-width: 40px;">
                                        <p class="image-text">Drones</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="AI" value="assets/images/connectTheDots/icons/artificial-intelligence.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/artificial-intelligence.png" style="max-width: 40px;">
                                        <p class="image-text">AI</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Biometrics" value="assets/images/connectTheDots/icons/fingerprint-2.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/fingerprint-2.png" style="max-width: 40px;">
                                        <p class="image-text">Biometrics</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="IOT" value="assets/images/connectTheDots/icons/iot-1.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/iot-1.png" style="max-width: 40px;">
                                        <p class="image-text">IOT</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Big Data" value="assets/images/connectTheDots/icons/big-data.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/big-data.png" style="max-width: 40px;">
                                        <p class="image-text">Big Data</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Blockchain" value="assets/images/connectTheDots/icons/blockchain.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/blockchain.png" style="max-width: 40px;">
                                        <p class="image-text">Blockchain</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Automation" value="assets/images/connectTheDots/icons/automation-1.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/automation-1.png" style="max-width: 40px;">
                                        <p class="image-text">Automation</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="3D Printing" value="assets/images/connectTheDots/icons/3d-printing-1.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/3d-printing-1.png" style="max-width: 40px;">
                                        <p class="image-text">3D Printing</p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Robotics" value="assets/images/connectTheDots/icons/robotics.jpeg">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/robotics.jpeg" style="max-width: 40px;">
                                        <p class="image-text">Robotics
                                            <!-- Virtual Reality -->
                                        </p>
                                    </div>
                                </li>

                                <li class="col col-3 col-sm col-xs p-1" data-image-name="Gene Editing" value="assets/images/connectTheDots/icons/dna.png">
                                    <div class="image-div">
                                        <img src="/assets/images/connectTheDots/icons/dna.png" style="max-width: 40px;">
                                        <p class="image-text">Gene Editing</p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-xl-12 col-sm-12 text-center">
                                    <strong>The Metaverse Sales Company</strong> <br />&nbsp; <br />
                                    <img src="https://www.anytimecreativity.com/assets/images/connectTheDots/ctd-example.png" class="img-responsive" width="100%" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer mx-auto p-1">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->


            <!-- SortableJS CDN -->
            <!-- <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script> -->
            <script src="/assets/js/Sortable.js"></script>

            <script>
                new Sortable(group1, {
                    group: 'shared', // both lists have same group name
                    animation: 150,
                    swap: true
                });
                new Sortable(group2, {
                    group: 'shared',
                    animation: 150,
                    swap: true
                });
                new Sortable(group3, {
                    group: 'shared1',
                    animation: 150,
                    swap: true
                });
                new Sortable(group4, {
                    group: 'shared1',
                    animation: 150,
                    swap: true
                });
            </script>

            <script>
                $('#submitBtn').click(function(e) {
                    e.preventDefault();
                    var user = $("input.teamPlayerName").map(function() {
                        return this.value;
                    }).get().join(", <br>");

                    var ideaName = document.getElementById("ideaName").value;
                    var idea = document.getElementById("idea").value;
                    // var group3 = document.querySelector("#group3 > li > div > img").src;
                    // var group2 = document.querySelector("#group2 > li > div > img").src;
                    // var group2_text = document.querySelector("#group2 > li > div > p").innerText;
                    // var group3_text = document.querySelector("#group3 > li > div > p").innerText;

                    var user1 = document.getElementById("userName").value;
                    var group2 = $('#group2 li').attr('value');
                    var group3 = $('#group3 li').attr('value');

                    var group2_text = $('#group2 li').attr('data-image-name');
                    var group3_text = $('#group3 li').attr('data-image-name');

                    if (user && ideaName && idea && group2 && group3) {
                        $.ajax({
                            type: 'POST',
                            url: '/api/challenge/',
                            data: {
                                mix: group2,
                                match: group3,
                                mix_text: group2_text,
                                match_text: group3_text,
                                idea: document.getElementById("idea").value,
                                penName: user,
                                ideaName: document.getElementById("ideaName").value,
                                code: "1001",
                            },
                            success: function(data) {
                                $('#successMessage').show();
                                $('#submitBtn').prop("disabled", true);
                            },
                            error: function(data) {
                                $('#failedMessage').show();
                                console.log('An error occurred.');
                                console.log(data);
                            },
                        });
                    } else {
                        alert("Please fill all the values to submit");
                    }
                });
                var count = 1;
                $('.add-more').click(function() {
                    if (count >= 10) {
                        alert('Sorry, you can add only 10 players.');
                        return false;
                    }
                    var newRow = '<div class="form-group row text-left">' +
                        '<label for="playerName" class="col-sm-4 custom-label">Player\'s Name</label>' +
                        '<div class="col-sm-8">' +
                        '<input type="text" class="form-control teamPlayerName" id="playerName" maxlength="100" placeholder="Click + to enter each player">' +
                        '</div>' +
                        '</div>';
                    $('#ideaDiv').append(newRow);
                    count++;
                });
            </script>


            <!-- close default .container_wrap element -->


            <div class='container_wrap footer_color' id='footer'>
                <div class='container'>
                    <div class='flex_column av_one_fourth  first el_before_av_one_fourth'>
                        <section id="text-3" class="widget clearfix widget_text">
                            <div class="textwidget">
                                <p><img loading="lazy" src="/wp-content/uploads/2021/10/footer-logo.jpg" alt="" width="223" height="259" class="alignnone size-full wp-image-1133" /></p>
                            </div>
                            <span class="seperator extralight-border"></span>
                        </section>
                    </div>
                    <div class='flex_column av_one_fourth  el_after_av_one_fourth  el_before_av_one_fourth '>
                        <section id="text-4" class="widget clearfix widget_text">
                            <h3 class="widgettitle">Site</h3>
                            <div class="textwidget">
                                <ul>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/">Home</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/challenges">Challenges</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/connectTheDots">Connect the Dots</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/reImagine">Reimagine</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/madAndNutty">Mad And Nutty</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/crazyCombinations">Crazy Combinations</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/blueSkies">Blue Skies</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/lookSideways">Look Sideways</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/how-it-works">How it Works</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/pricing">Pricing</a></span></li>
                                </ul>
                            </div>
                            <span class="seperator extralight-border"></span>
                        </section>
                    </div>
                    <div class='flex_column av_one_fourth  el_after_av_one_fourth  el_before_av_one_fourth '>
                        <section id="text-5" class="widget clearfix widget_text">
                            <h3 class="widgettitle">Support</h3>
                            <div class="textwidget">
                                <ul>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">Contact</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="/book-a-demo">Book a Demo</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">Take a video tour</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">About Us</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">Privacy Policy</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">GDPR</a></span></li>
                                </ul>
                            </div>
                            <span class="seperator extralight-border"></span>
                        </section>
                    </div>
                    <div class='flex_column av_one_fourth  el_after_av_one_fourth  el_before_av_one_fourth '>
                        <section id="text-6" class="widget clearfix widget_text">
                            <h3 class="widgettitle">Social</h3>
                            <div class="textwidget">
                                <ul>
                                    <!--li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">Blog</a></span></li-->
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="http://linkedin.com/in/fergalbrophy" target="_blank">Linkedin</a></span></li>
                                    <li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="https://youtube.com/channel/UC1wqTph0xxVtpY6LNFTmTxA" target="_blank">YouTube</a></span></li>
                                    <!--li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">Instagram</a></span></li>
							<li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">Facebook</a></span></li>
							<li class="_04xlpA direction-ltr align-start para-style-body"><span class="JsGRdQ"><a href="#">Twitter</a></span></li-->
                                </ul>
                            </div>
                            <span class="seperator extralight-border"></span>
                        </section>
                    </div>
                </div>
            </div>



            <!-- end main -->
        </div>

        <!-- end wrap_all -->
    </div>

    <a href='#top' title='Scroll to top' id='scroll-top-link' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'><span class="avia_hidden_link_text">Scroll to top</span></a>

    <div id="fb-root"></div>


    <script type='text/javascript'>
        /* <![CDATA[ */
        var avia_framework_globals = avia_framework_globals || {};
        avia_framework_globals.frameworkUrl = '/wp-content/themes/enfold/framework/';
        avia_framework_globals.installedAt = '/wp-content/themes/enfold/';
        avia_framework_globals.ajaxurl = '/wp-admin/admin-ajax.php';
        /* ]]> */
    </script>

    <link rel='stylesheet' id='rw-text-rotator-css-css' href='/wp-content/plugins/css3-rotating-words/js/simpletextrotator.css?ver=5.8.2' type='text/css' media='all' />
    <link rel='stylesheet' id='rw-animate-css-css' href='/wp-content/plugins/css3-rotating-words/js/animate.min.css?ver=5.8.2' type='text/css' media='all' />
    <script type='text/javascript' src='/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.7' id='regenerator-runtime-js'></script>
    <script type='text/javascript' src='/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0' id='wp-polyfill-js'></script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = {
            "api": {
                "root": "http:\/\/www.anytimecreativity.com\/wp-json\/",
                "namespace": "contact-form-7\/v1"
            }
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.5.3' id='contact-form-7-js'></script>
    <script type='text/javascript' src='/wp-includes/js/wp-embed.min.js?ver=5.8.2' id='wp-embed-js'></script>
    <script type='text/javascript' src='/wp-content/plugins/css3-rotating-words/js/jquery.simple-text-rotator.min.js?ver=5.8.2' id='rw-text-rotator-js-js'></script>
    <script type='text/javascript' src='/wp-content/plugins/css3-rotating-words/js/jquery.simple-text-rotator.min.js?ver=5.8.2' id='rw-animate-js-js'></script>
    <script type='text/javascript' id='rw-script-js-js-extra'>
        /* <![CDATA[ */
        var words = {
            "animation": "flipUp",
            "speed": "2000"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/wp-content/plugins/css3-rotating-words/js/script.js?ver=5.8.2' id='rw-script-js-js'></script>
    <script type='text/javascript' src='/wp-content/uploads/dynamic_avia/avia-footer-scripts-dc2111677f56c0f7689d658ae5f663d2---61a5036290cd7.js' id='avia-footer-scripts-js'></script>
    <script>
        $(".pre-loader").fadeOut("slow");
        // $(window).load(function() {});
    </script>
</body>

</html>