#top .hr.hr-invisible.av-kw3tw7sw-7a25fb5d9ca5a59c4c74e3751c8a012c{
height:30px;
}

#top .hr.hr-invisible.av-10d0qme-7a46d5c438c2114808fd3822aa7d590e{
height:10px;
}

#top .togglecontainer.av-xaxwl2-243373c331741b5183514911c7d70c4a p.toggler{
color:#000000;
background-color:#ffffff;
border-color:#000000;
}
#top .togglecontainer.av-xaxwl2-243373c331741b5183514911c7d70c4a p.toggler .toggle_icon{
color:#000000;
border-color:#000000;
}
#top .togglecontainer.av-xaxwl2-243373c331741b5183514911c7d70c4a .toggle_wrap .toggle_content{
color:#000000;
background-color:#ffffff;
border-color:#000000;
}

#top .hr.hr-invisible.av-67zb7a-293d4d91a9193850b6fa151e13174f21{
height:30px;
}

