.avia-image-container.av-kvs0nbyo-1ced9894b852dc460f0cc582dbd9c880 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kvs0o5xf-ccaa0dc438304c6d5c7dbd33fcbb82d6 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kvs0oogr-87310c8da636202a8556ca4513338a50 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column.av-k6qai-d7f2acd667796e9a6ed02827a1db7ebf{
margin-top:30px;
margin-bottom:30px;
}
.responsive #top #wrap_all .flex_column.av-k6qai-d7f2acd667796e9a6ed02827a1db7ebf{
margin-top:30px;
margin-bottom:30px;
}

.avia-image-container.av-kvs0po47-8ada227fdb2c579b009e6d90784104a0 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column.av-gfc2a-c0d8372c7eac159f5fab5f2b4984df05{
margin-top:30px;
margin-bottom:30px;
}
.responsive #top #wrap_all .flex_column.av-gfc2a-c0d8372c7eac159f5fab5f2b4984df05{
margin-top:30px;
margin-bottom:30px;
}

.avia-image-container.av-kvs0q2dt-8c997ea635632c7e744696c1d385e790 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column.av-7wxyy-8e903d46a12afa15ec3552377d7389c9{
margin-top:30px;
margin-bottom:30px;
}
.responsive #top #wrap_all .flex_column.av-7wxyy-8e903d46a12afa15ec3552377d7389c9{
margin-top:30px;
margin-bottom:30px;
}

.avia-image-container.av-kvs0qdl6-3251ddfa258c49b93e970c369a6b7e2a .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-kvwjekl9-6ab0ba53cc0d44930eba5b4295ae5cc0{
height:40px;
}

.avia-image-container.av-kvf5b0cw-23bada506d33a0c3de0bf7046a1aa425 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kvf5dpob-5ea04521e209a5debb37b8fdb119aab6 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kvf5egr2-6d028348a98565a8781bd67206971b96 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kvf5epp2-b4f4f194824b31146ccc493d892cf567 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kvf5ez20-0c343fd70e59e6b480f13f463a5164c1 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-kw0wv9ti-ff8456534b123129bf9197892c7dd2b6{
height:10px;
}

#top .togglecontainer.av-kve399an-63d8574cbfa2ba709246b1be680feaa7 p.toggler{
color:#000000;
background-color:#ffffff;
border-color:#000000;
}
#top .togglecontainer.av-kve399an-63d8574cbfa2ba709246b1be680feaa7 p.toggler .toggle_icon{
color:#000000;
border-color:#000000;
}
#top .togglecontainer.av-kve399an-63d8574cbfa2ba709246b1be680feaa7 .toggle_wrap .toggle_content{
color:#000000;
background-color:#ffffff;
border-color:#000000;
}

#top .hr.hr-invisible.av-p64a-d2cae1160b73bb003d5baa3f79a0fbbb{
height:30px;
}

